{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>
      <b>작성자 : <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a></b>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>
    <div>
      {% comment %} <form action="{% url 'articles:likes' article.pk %}" method="POST"> {% endcomment %}
      {% comment %} data-* = *이라는 이름의 data를 js에 넘겨 줄 수 있음 {% endcomment %}
      <form class="like-form" data-article-id="{{article.pk}}">
        {% csrf_token %}
        {% comment %} 선택자로 좋아요 버튼만 찾을 것이므로 id 추가 {% endcomment %}
        {% comment %} {% if request.user in article.like_users.all %}
          <button id="like-btn={{ article.pk }}">좋아요 취소</button>
        {% else %}
          <button id="like-btn={{ article.pk }}">좋아요</button>
        {% endif %} {% endcomment %}

        <button id="like-btn-{{ article.pk }}">
          {% if request.user in article.like_users.all %}
            좋아요 취소
          {% else %}
            좋아요
          {% endif %}
        </button>
      </form>
    </div>
    {% comment %} <p>{{ article.like_users.all|length }}명이 이 글을 좋아합니다.</p> {% endcomment %}
    <p>
       <span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span>
       <span>명이 이 글을 좋아합니다.</span>
    </p>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
  <script>
    const forms = document.querySelectorAll('.like-form')
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
    forms.forEach(form => {
      // console.log(form)
      form.addEventListener('submit', event => {
        event.preventDefault()
        // console.log(event.target.dataset)
        const articleId = event.target.dataset.articleId

        // template literals
        // axios.post(`/articles/${articleId}/likes/`)

        // 새롭게 config 방법으로 post를 보낼 것 axios(config)
        // https://github.com/axios/axios#request-config
        axios({
          url: `/articles/${articleId}/likes/`,
          method: 'post',
          headers: {
            'X-CSRFToken': csrfToken,
          },
        }).then( function (response) {
          console.log(response.data)
          const { liked, count } = response.data
          // 내가 좋아요를 눌렀는지 여부
          const likeBtn = document.querySelector(`#like-btn-${articleId}`)
          likeBtn.innerText = liked ? '좋아요 취소' : '좋아요'
          // 몇 명이 좋아하는지
          const likeCount = document.querySelector(`#like-count-${articleId}`)
          likeCount.innerText = count
        }).catch( function (error) {
          console.log(error.response)
          switch (error.response.status) {
            case 401: {
              // 로그인 페이지로 보내준다.
              location.href = '/accounts/login/'
              break
            }
            default: {
              // 위에서 처리하지 않은 모든 에러 메세지를 경고창으로 표시한다.
              alert('알 수 없는 에러가 발생했습니다. 관리자를 통해 문의해주세요.')
            }
          }

        })
         
      })
    })
  </script>
{% endblock %}
