<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <select v-model="status">
      <option value="all">전체</option>
      <option value="inProgress">진행 중</option>
      <option value="completed">완료</option>
    </select>
    <input type="text" v-model="content">
    <button @click="addTodo">+</button>

    <ul>
      <!-- v-for 사용시 반드시 :key를 넣어줘야함 key를 통해 현재 todo가 제대로 된 데이터를 바라보고 있는지 확인하기 위함 -->
      <!-- <li v-for="todo in todoList" :key="todo.date"> -->
      <li v-for="todo in todoListByStatus" :key="todo.date">
        <!-- 체크 여부도 todo.completed 의 여부에 따라 체크 되도록 -->
        <input 
          type="checkbox"
          @click="toggleTodo(todo)"
          :checked="todo.completed"
        >
        <span :class="{ completed: todo.completed }">{{ todo.content }}</span>
      </li>
    </ul>
    <button @click="deleteCompleted">완료된 할 일 지우기</button>
  </div>

  <!-- Vue CDN 삽입 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        content: '',
        todoList: [],
        status: 'all',
      },
      methods: {
        addTodo: function () {
          // console.log(this.content)
          const todo = {
            content: this.content,
            date: Date.now(), // Unix timestamp
            completed: false,
          }
          // DOM 추가시에는 append, appendchild
          this.todoList.push(todo)
          this.content = ''
        },
        toggleTodo: function (todo) {
          todo.completed = !todo.completed
        },
        deleteCompleted: function () {
          // console.log(todo.completed)
          this.todoList = this.todoList.filter(todo => !todo.completed)
        }
      },

      watch: {
        status: function () {
          console.log('status가 바뀌었습니다. ', this.status)
        }
      },

      // methods와 마찬가지로, function 키워드로 선언
      computed: {
        todoListByStatus: function () {
          return this.todoList.filter(todo => {
            if (this.status === 'inProgress') {
              return !todo.completed // 완료하지 않았으면 true를 반환
            } else if (this.status === 'completed') {
              return todo.completed // 완료했으면 true를 반환
            } else { // this.status == all
              return true // 모든 아이템이 true를 반환
            }
          })
        }
      }
    })
  </script>
</body>
</html>